* {
  margin: 0;
}
#container {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #302F2F;
}
#container #title {
  height: 64px;
  line-height: 64px;
  background-color: #FF914D;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FEFEFE;
}
#container #title img {
  width: 48px;
  height: 48px;
  margin: 0 24px;
}
#container #score {
  width: 560px;
  height: 328px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px dashed #FF914D;
  border-radius: 20px;
  margin: 60px auto;
}
#container #operate {
  width: 1166px;
  height: 260px;
  border: 1px solid #FF914D;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #operate #team-score-content {
  width: 1008px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #operate #team-score-content .change-score {
  width: 170px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}
#container #operate #team-score-content .change-score .change-list {
  width: 46px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#container #operate #team-score-content .change-score .change-list div {
  width: 46px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  background: #444444;
  border: 1px solid #707070;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
#container #operate #team-score-content .change-score .change-list div:hover {
  background: #707070;
}
#container #operate #team-score-content .change-score .change-list span {
  width: 46px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #F2591A;
}
#container #operate #team-score-content .team-score {
  width: 242px;
  height: 150px;
}
#container #operate #team-score-content .team-score .score-preview {
  width: 242px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#container #operate #team-score-content .team-score .score-preview .score-preview-hot {
  width: 34px;
  height: 28px;
  background: #666;
  border-radius: 3px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #FF914D;
}
#container #operate #team-score-content .team-score .score-preview .score-preview-input {
  width: 190px;
  height: 42px;
  text-align: center;
  background: #666;
  border-radius: 5px;
  font-size: 34px;
  font-family: Arial;
  font-weight: bold;
  color: #F2591A;
  line-height: 42px;
  border: 1px solid #666;
  outline: none;
}
#container #operate #team-score-content .team-score .score-preview .score-preview-input:hover {
  border: 1px solid #FF914D;
}
#container #operate #team-score-content .team-score .team-name {
  width: 242px;
  height: 34px;
  background: #444;
  border-radius: 3px;
  font-size: 22px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #DE8148;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 20px 0;
}
#container #operate #team-score-content .team-score .team-subtotal {
  width: 242px;
  height: 32px;
  line-height: 32px;
  font-size: 23px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
#container #operate #team-score-content .team-score .team-subtotal span {
  display: inline-block;
  width: 46px;
  height: 32px;
  background: #444444;
  border-radius: 3px;
  font-size: 22px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FF914D;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
#container #operate #team-score-content .team-score .team-subtotal span:hover {
  background: #707070;
}
#container #operate #team-score-content .team-score .team-subtotal .add-subtotal {
  margin: 0 10px;
}
#container #operate #team-score-content .team-score .team-right-subtotal {
  text-align: right;
}
#container #operate #team-score-content .team-vs {
  width: 60px;
  height: 150px;
  margin: 0 20px;
}
#container #operate #team-score-content .team-vs .vs {
  width: 60px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 34px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #FF914D;
}
#container #operate #team-score-content .team-vs .scene-name {
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 26px;
  font-size: 23px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
