@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px!important;
  }
}
* {
  margin: 0;
}
body {
  width: 10rem !important;
  min-width: 320px;
  margin: 0 auto;
}
body #container {
  width: 10rem !important;
  height: 100vh;
  background: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
body #container #codeInput {
  display: none;
  width: 10rem !important;
  height: 0.96rem !important;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body #container #codeInput input {
  width: 1.17333333rem !important;
  height: 1.17333333rem !important;
  background: rgba(255, 255, 255, 0.3);
  border: 0.02666667rem solid #B8B8B8;
  color: #FFF;
  text-align: center;
  outline: none;
  border-radius: 0.08rem;
  font-size: 0.64rem !important;
  font-family: Source Han Sans CN;
}
body #container #submit {
  display: none;
  width: 6.90666667rem !important;
  height: 1.28rem !important;
  line-height: 1.28rem !important;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 10px 0px rgba(104, 123, 207, 0.2);
  border-radius: 0.64rem;
  font-size: 0.64rem !important;
  font-family: Source Han Sans CN;
  font-weight: 500;
  text-shadow: 0px 2px 4px rgba(26, 83, 142, 0.2);
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: transparent;
}
